body {
	background-image: url("../images/Capture.JPG");
}
.totalcontainer {
	background-color: yellow;
	margin: 200px 200px 200px 200px;
}

.wrapper {
	background: solid;
	background-color: yellow;
	text-align: center;
	height: 850px;
}
.value {
	text-align: right;
}

.header {
	font-family: Impact, Charcoal, sans-serif;
	color: blue;
	margin-top: 100px;
	margin-bottom: 75px;
	padding-top: 50px;
}

#startgame {
	padding-top: 10px;
	box-sizing: 300px;
}

#timeLeft {
	padding-top: 50px;
	font-weight: bold;
	font-size: 18px;
}

.container {
	margin-top: -550px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

#doneButton {
	box-sizing: 300px;
	margin-top: 20px;
}

.footer {
	text-align: center;
}